html {
  font-family: 'Ubuntu', sans-serif;
}

.page-wrap{
  width: 1680px;
  margin: 0 auto;
}

/*Link Styles*/
a {
  text-decoration: none;
  color: white;
  margin: 5px 10px;
  text-shadow: 2px 2px 3px black;
}

a:hover, a:focus {
  text-decoration: none;
  color: grey;
}

/*Header-Footer Styles*/
#header {
  position: fixed;
  text-align: center;
  height: 75px;
  padding-top: 25px;
  display: block;
  width: 100%;
  z-index: 99999;
  color: #fff;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 75px;
  display: block;
  width: 100%;
  z-index: 99999;
  color: #fff;
}

/*Images and links inside of footer layout*/
.footer-tenbelow {
  float: left;
  margin-left: 10px;
  padding-top: 45px;
}

.sabertooth {
  float: left;
  width: 1.75vw;
  padding-top: 35px;
}

.footer-icon {
  float: right;
  margin-right: 10px;
  padding-top: 30px;
}

/*button:anchor styling*/
.icon {
  color: white;
}

.btn {
    display: inline-block;
    padding: 5px 25px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: grey;
}

/*Button nav styling*/
.button-nav {
  text-align: center
}
